#etapa1detalhes #headingTwo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#etapa1detalhes #headingTwo #collapseAditionals {
  border: none;
  background: none;
  cursor: pointer;
  transition: transform 300ms;
}

#collapseAditionals.active {
  transform: rotateX(180deg) translateY(5px);
}

#collapseAditionals svg path {
  fill: #fff;
}

#etapa1detalhes .panel-body {
  height: 0;
  transition: all 300ms;
  overflow: hidden;
  padding: 5px 15px;
}
#etapa1detalhes .panel-body.active {
  height: 210px;
  overflow-y: scroll;
}

#cardapioItemForm .modal-footer .flex-container .flex-item.mr::after {
  content: "Quantidade";
  width: 100%;
  display: flex;
  justify-content: center;
}
