.barra-superior-secundaria {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
.barra-superior-secundaria .primeira-compra {
  text-align: center;
}

.qtd-button.qtd-up, 
.qtd-button.qtd-down {
  cursor: pointer;
}

.li-whatsapp a {
  bottom: 16px;
}

input.ui-autocomplete-input {
  border-radius: 50px;
}

@media only screen and (max-width: 600px) {
  .zm-viewer {
    display: none !important;
  }
}
