.barra-superior-secundaria {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
.barra-superior-secundaria .primeira-compra {
  text-align: center;
}

.qtd-button.qtd-up, 
.qtd-button.qtd-down {
  cursor: pointer;
}
