#cabecalho {
  background: #3F78BB;
}
#rodape .institucional {
  background: #3F78BB;
}
#rodape .institucional a, 
#rodape .institucional p {
  color: #e7e7e7;
}
#rodape .links-rodape-atendimento .icon {
  fill: #ffffff;
}

a.scrollToTop {
    background: #3F78BB;
}
.scrollToTop:active, .scrollToTop:focus, .scrollToTop:hover {
    text-decoration: none;
    background: #235da0 !important;
    color: #fff;
}

.float-open, 
.float-items > li > a {
  background: #3F78BB !important;
}

.float-contact .float-open:hover,
.float-items > li:hover > a {
  background: #222A33 !important;
}

.modulo.span4.sem-banner {
  display: none;
}
.row-fluid.banner.mini-banner {
  display: none;
}
@media (max-width: 600px) {
  .row-fluid.banner.mini-banner {
    display: block;
  }
}

strong.cor-principal.titulo {
    color: #A8BA3F !important;
    font-weight: 700 !important;
    font-size: 18px !important;
}

.produto #descricao:before {
  display: none;
}
.tab-pane.active h2 {
  font-size: 22px;
  text-align: center;
}
.tab-pane.active .texto-descr-produto {
    font-size: 15px;
    margin: 30px 0;
    border: 1px solid #ddd;
    padding: 30px;
    border-radius: 5px;
}
.tab-pane.active ul {
    border: 1px solid #ddd;
    list-style-type: none !important;
    padding: 0;
    margin: 0;
    margin-bottom: 50px;
}
.tab-pane.active ul li {
    list-style: none;
    display: block;
    width: 100%;
    padding: 15px;
    color: #25262C;
    font-weight: 700;
    box-sizing: border-box;
    font-size: 14px;
}
.tab-pane.active ul > li:nth-child(odd) {
    background: #f3f2f2;
}
.tab-pane.active ul > li >strong {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 400;
    min-width: 220px;
    display: inline-block;
}
ul.keywords-tags {
    margin: 0 !important;
    text-align: center;
    border: 10px solid #e2121200 !important;
}
.keywords-tags li {
    display: contents !important;
    cursor: pointer;
}
.keywords-tags li a {
    padding: 8.5px;
    border: 1px solid #e4e4e4;
    border-radius: 5px;
    font-size: 10px;
    line-height: 50px;
    white-space: nowrap;
    text-decoration: none;
    color: inherit;
}
.keywords-tags li a:hover {
    background-color: #ececec !important;
}
#cabecalho.fixed .open-menu .line {
  background: #fff !important;
}

.spanNone.banner.tarja {
  max-height: max-content !important;
}

.spanNone.banner.tarja.slick-initialized.slick-slider .slick-prev.slick-arrow,
.spanNone.banner.tarja.slick-initialized.slick-slider .slick-next.slick-arrow {
    display: none !important;
}
