#cabecalho {
  background: #3F78BB;
}
#rodape .institucional {
  background: #3F78BB;
}
#rodape .institucional a, 
#rodape .institucional p {
  color: #e7e7e7;
}
#rodape .links-rodape-atendimento .icon {
  fill: #ffffff;
}

a.scrollToTop {
    background: #3F78BB;
}
.scrollToTop:active, .scrollToTop:focus, .scrollToTop:hover {
    text-decoration: none;
    background: #235da0 !important;
    color: #fff;
}

.float-open, 
.float-items > li > a {
  background: #3F78BB !important;
}

.float-contact .float-open:hover,
.float-items > li:hover > a {
  background: #222A33 !important;
}

.row-fluid.banner.mini-banner {
  display: none;
}
@media (max-width: 600px) {
  .row-fluid.banner.mini-banner {
    display: block;
  }
}

strong.cor-principal.titulo {
    color: #A8BA3F !important;
    font-weight: 700 !important;
    font-size: 18px !important;
}
